COHERE_API_KEY=
COHERE_AGENT_MODEL=command-a-03-2025
COHERE_VISION_MODEL=command-a-plus-05-2026
COHERE_EMBED_MODEL=embed-v4.0
COHERE_RERANK_MODEL=rerank-v3.5
DATA_DIR=./data
BACKEND_PORT=8001
BACKEND_URL=http://localhost:8001
NEXT_PUBLIC_BACKEND_URL=http://localhost:8001
FRONTEND_PORT=3001
NORTH_BASE_URL=https://demo.north.cohere.com/api
NORTH_BEARER_TOKEN=
NORTH_AGENT_ID=
NORTH_LIBRARY_ID=
NORTH_MODE=auto
NORTH_REQUEST_TIMEOUT_SECONDS=30
