COHERE_API_KEY=
COHERE_AGENT_MODEL=command-a-03-2025
COHERE_VISION_MODEL=command-a-plus-05-2026
COHERE_EMBED_MODEL=embed-v4.0
COHERE_RERANK_MODEL=rerank-v3.5
DATA_DIR=./data
BACKEND_URL=http://localhost:8000
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
FRONTEND_PORT=3001
